$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;

@mixin up($bp) {
  @media (min-width: $bp) {
    @content;
  }
}

@mixin down($bp) {
  @media (max-width: ($bp - 0.02)) {
    @content;
  }
}

@mixin between($min, $max) {
  @media (min-width: $min) and (max-width: ($max - 0.02)) {
    @content;
  }
}