@use "abstracts/variables";
@use "abstracts/mixins";

@use "base/fonts";
@use "base/global";

@use "layout/navbar";
@use "layout/footer";

@use "components/buttons";
@use "components/cards";
@use "components/hero";
@use "components/sections";

@use "pages/home";
@use "pages/pedidos";
@use "pages/reservas";
@use "pages/nosotros";