@use "../abstracts/variables" as v;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

@font-face {
  font-family: 'Cratense';
  src: url('../assets/Cratense.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}